<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="packages" />
  </config>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="OrgCI" value="https://pkgs.dev.azure.com/NetworkVisor/_packaging/OrgCI/nuget/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <OrgCI>
      <add key="Username" value="stevebu@networkvisor.com" />
      <add key="ClearTextPassword" value="35j6ro2a4sszfb4si2sxwu4inpfhsgf2ucdi5r6s44riaungeldq" />
    </OrgCI>
  </packageSourceCredentials>
  
</configuration>
